.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.cuerpo img {
    width: 210px;
    height: 300px;
}


.cuerpo p {
    padding: 5px 10px;
}
